
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .btn a {color: white; text-decoration: none}
        body {background-color: #f1f1f1;}
    </style>
</head>
<body>
    <div class="text-center">
        <h2>Party time!</h2>
        <h3>Rock n Roll!</h3>
        <div class="btn btn-sucess">

        </div> 
        Welcome to Brian's home page! :)
    </div>
</body>
</html>
