
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>

</head>
<body>
    <div class="text-center">
        Welcome to Brian's home page! :)


        <a href="~/04_03.html">Cool nav bar</a>
        <p><a href="~/calculator.html">Calculator</a></p>
       
    </div>

   
</body>




</body>
</html>
